{% extends "app/layout.html" %}

{% block content %}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    #img-upload{
        width: 100%;
    }
    .breadcrumb>li+li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }
</style>

{% block scripts %}

<script>
    $(document).ready( function() {
        $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function(event, label) {
		    
            var input = $(this).parents('.input-group').find(':text'),
                log = label;
		    
            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }
	    
        });

        function readUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
		        
                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }
		        
                reader.readAsDataURL(input.files[0]);

                $('#start').attr('disabled', false);
            }
        }

        $("#imgInp").change(function(){
            readUrl(this);
        }); 	
    });
</script>

{% endblock %}

<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Strona główna</a></li>
    <li class="active">{{ title }}</li>
</ul>
<div class="container">
    <div class="col-md-6">
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label>Wczytaj plik:</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Wybierz… <input type="file" name="imgInp" id="imgInp">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
            
                <img id="img-upload" alt=""/>
            </div>  
        
            <div class="form-group">
                <label style="display: inherit;" for="resultImage">{{ labelText }}</label>
                <img id="resultImage" src="{{ image }}" alt=""/>
                <a style="font-size: x-large; display: inherit;" href="{{ image }}" download="{{ fileName }}">{{ aText }}</a>
            </div>
        
            <div class="form-group">
                <label for="contrast">Wybierz wartość o jaką zostanie zwiększony kontrast:</label>
                <select class="form-control" name="contrast" id="contrast">
                    <option value="110">10%</option>
                    <option value="120">20%</option>
                    <option value="130">30%</option>
                    <option value="140">40%</option>
                    <option value="150">50%</option>
                    <option value="160">60%</option>                   
                    <option value="170">70%</option>
                    <option value="180">80%</option>
                    <option value="190">90%</option>
                    <option value="200">100%</option>
                </select>
            </div>

            <div class="form-group">
                <label for="fname">Nazwa pliku: </label>
                <input type="text" class="form-control" name="fname" id="fname">
            </div>

            <button id="start" type="submit" class="btn btn-primary" disabled>Zapisz</button>
        </form>
    </div>	
</div>
{% endblock %}