{% extends "app/layout.html" %}

{% block content %}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Obrobka obrazow
        <small>Wybierz interesujaca Cie sekcje</small>
    </h1>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{% url 'imageTypeConverter' %}"><img class="card-img-top" src="../../static/app/images/2.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'imageTypeConverter' %}">Konwerter plikow graficznych</a>
                    </h4>
                    <p class="card-text">Zmiana formatu wybranego obrazu. Mozliwa jest konwersja do JPG, TIFF, BMP, PNG.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{% url 'imageSizeConverter' %}"><img class="card-img-top" src="../../static/app/images/1.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'imageSizeConverter' %}">Zmiana rozmiaru</a>
                    </h4>
                    <p class="card-text">Przycinanie obrazu do zadanego rozmiaru. Mozliwe jest przycinanie z zachowaniem jak i bez zachowania proporcji.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{% url 'imageAddFilter' %}"><img class="card-img-top" src="../../static/app/images/3.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'imageAddFilter' %}">Nakladanie filtrow</a>
                    </h4>
                    <p class="card-text">Nakladanie wszelakiego rodzaju filtrow na obraz wejsciowy, aby uzyskac idealny efekt. Do dyspozycji jest wiele filtrow fotograficznych, ktore pasuja poprawia jakosc kazdego zdjecia.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{% url 'imageGrayscale' %}"><img class="card-img-top" src="../../static/app/images/4.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'imageGrayscale' %}">Skala szarosci</a>
                    </h4>
                    <p class="card-text">Tryb, w ktorym kazdy z pikseli obrazu wejsciowego moze przybrac jeden z 256 odcieni szarosci.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{% url 'imageRotate' %}"><img class="card-img-top" src="../../static/app/images/5.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'imageRotate' %}">Obracanie obrazu</a>
                    </h4>
                    <p class="card-text">Tryb, w ktorym obraz wejsciowy moze zostac obrocony o zadana ilosc stopni.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../../static/app/images/6.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project Six</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
